<template>
  <div>
    <Dialog></Dialog>
    <Layout>
      <template v-slot:menu>
        <LeftMenu />
      </template>
      <template v-slot:content>
        <NavHeader></NavHeader>
        <router-view v-slot="{ Component }">
          <KeepAlive :include="['ComputerWallpaper','PhoneWallpaper']">
            <Component :is="Component"></Component>
          </KeepAlive>
        </router-view>
      </template>
    </Layout>
  </div>
</template>

<script setup>
import NavHeader from '@/components/NavHeader.vue';
import Layout from '@/components/Layout.vue';
import LeftMenu from '@/components/LeftMenu.vue';
import Dialog from '@/components/login/Dialog.vue';
</script>

<style  scoped></style>