<template>
  <img :src="url" />
</template>

<script setup>
import { ref } from 'vue'
import { useRoute } from 'vue-router';
const route = useRoute()
let url = ref('')
url = route.query.url
console.log(url)
</script>

<style scoped>
img {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
</style>