<template>
  <div class="layout-con">
    <el-card shadow="hover" v-show="showMenu">
      <div class="menu" :style="{ width: `${width}px` }">
        <slot name="menu">
          菜单{{ width }}
        </slot>
      </div>
    </el-card>
    <div class="content">
      <slot name="content">内容</slot>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue';
import { isShowMenu } from '@/hooks/global.hook.js'

const width = ref(0);

const showMenu = ref(true);

const interval = ref(null);

watch(isShowMenu, (newValue, oldValue) => {
  if (newValue) {
    showMenu.value = true;
    interval.value = setInterval(() => {
      if (width.value < 220) {
        width.value = width.value + 5;
      } else {
        clearInterval(interval.value);
      }
    }, 2);
  } else {
    width.value = 0;
    showMenu.value = false;
  }
})

onMounted(() => {
  showMenu.value = false;
});
</script>

<style scoped>
.layout-con {
  width: 100%;
  display: flex;
}

.layout-con .menu {
  height: 96vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.layout-con .menu:hover {
  overflow-y: auto;
}

.layout-con .content {
  flex: 1;
}

:deep(.el-card) {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}
</style>