<template>
  <div class="menu-con">
    <div class="top">
      <img src="/src/static/image/logo.png">
      <h1>高清壁纸</h1>
    </div>
    <div class="nav">
      <el-row v-show="currentMode === 'computer'">
        <el-col :span="12" v-for="(item, index) in computerImgList" :key="index" @click="typeClick(item)">
          <div class="col" :class="{ 'nav-item-activ': item.dir === computer_currentClassify }">
            <img :src="item.img">
            <span class="nav-item">{{ item.desc }}</span>
          </div>
        </el-col>
      </el-row>
      <el-row v-show="currentMode === 'phone'">
        <el-col :span="12" v-for="(item, index) in phoneImgList" :key="index" @click="typeClick(item)">
          <div class="col" :class="{ 'nav-item-activ': item.dir === phone_currentClassify }">
            <img :src="item.img">
            <span class="nav-item">{{ item.desc }}</span>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script setup>
import { isShowMenu, phone_currentClassify, computer_currentClassify, computerImgList, phoneImgList, currentMode } from '@/hooks/global.hook.js'
const typeClick = item => {
  if (currentMode.value === 'phone') {
    phone_currentClassify.value = item.dir
  } else {
    computer_currentClassify.value = item.dir
  }
  let str = currentMode.value + '_' + 'currentClassify'
  localStorage.setItem(str, item.dir)
  isShowMenu.value = false
}
</script>

<style scoped>
.menu-con {
  color: white;
  user-select: none;
  position: relative;
}

.top {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 36px;
  position: relative;
  z-index: 1;
}

.top img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.top h1 {
  font-size: 30px;
  color: var(--theme-color-pramary);
}

/* 菜单 */
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav-item {
  margin: 5px 0;
  font-size: 20px;
}

/* col */
.col {
  position: relative;
  height: 85px;
  width: 90px;
  margin: 0 0 15px 8px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  z-index: 1;
}

.nav-item-activ {
  border: 2px solid var(--theme-color);
}

.col:hover {
  border: 2px solid var(--theme-color);
}

.col img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}

.col span {
  background-color: #1f1f1f71;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: -5px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
}
</style>