<template>
  <div class="bili-banner" :style="{ height: `${header_height_g}px`, marginBottom: `${header_margin_bottom_g}px` }">
    <div class="nav">
      <div v-show="isPhone" class="nav-item">
        <el-icon size="32px" color="white" @click="onClickMenuIco">
          <Fold v-show="isShowMenu" />
          <Expand v-show="!isShowMenu" />
        </el-icon>
      </div>
      <div class="nav-item" v-show="!isPhone">
        <span :class="{ 'nav-item-activ': item.dir === computer_currentClassify }" v-show="currentMode === 'computer'"
          v-for="(item, index) in computerImgList" :key="index" @click="typeClick(item)">{{ item.desc }}</span>
        <span :class="{ 'nav-item-activ': item.dir === phone_currentClassify }" v-show="currentMode === 'phone'"
          v-for="(item, index) in phoneImgList" :key="index" @click="typeClick(item)">{{ item.desc }}</span>
      </div>
      <div class="nav-item">
        <!-- <div class="nav-icon">
          <div @click="iocClick('phone')" v-show="currentMode === 'computer'">
            <img src="/src/assets/phone.png" alt="手机壁纸" title="手机壁纸">
          </div>
          <div @click="iocClick('computer')" v-show="currentMode === 'phone'">
            <img src="/src/assets/computer.png" alt="电脑壁纸" title="电脑壁纸">
          </div>
        </div> -->
        <div class="nav-login">
          <div v-if="sex_g === undefined" @click="loginClick">
            <span>登录</span>
          </div>
          <div @click="loginOut" v-else>
            <img v-show="sex_g === '0'" src="@/static/image/avartar0.png">
            <img v-show="sex_g !== '0'" src="@/static/image/avartar1.png">
          </div>
        </div>
      </div>
    </div>
    <div class="animateds-banner">
      <div class="layer">
        <img src="@/assets/nav-img/1.png" :width="screen_width" :height="header_height_g + 50" />
      </div>
      <!-- 水视频动画 -->
      <div class="layer">
        <video loop autoplay muted src="@/assets/nav-img/m_water.mp4" :height="header_height_g" type="video/mp4"
          :style="{ marginTop: `${header_height_g - 35}px` }" :width="screen_width"></video>
      </div>
      <!-- 星星视频动画 -->
      <div class="layer">
        <video src="@/assets/nav-img/m_star.mp4" loop autoplay muted :height="header_height_g" type="video/mp4"
          :width="screen_width"></video>
      </div>
      <!-- 最右边的小兔子和地块 -->
      <div class="layer">
        <img src="@/assets/nav-img/6.png" :height="header_height_g" :width="screen_width / 2" />
      </div>
      <!-- 最右边特别小的船 -->
      <div class="layer">
        <img src="@/assets/nav-img/4.png" :height="header_height_g / 3" :width="screen_width / 17.1" />
      </div>
      <!-- 地块-4 -->
      <div class="layer">
        <img src="@/assets/nav-img/8.png" :style="{ left: 0, position: 'absolute' }" :width="screen_width / 3"
          :height="header_height_g" />
      </div>
      <!-- 右边-小山包 -->
      <div class="layer">
        <img src="@/assets/nav-img/13.png" :height="header_height_g / 2.58" :width="screen_width / 12.8" />
      </div>
      <!-- 鼠标移入虚拟显示 -->
      <div class="layer">
        <img src="@/assets/nav-img/17.png" :height="header_height_g" :width="screen_width / 5" />
      </div>
      <!-- 中间树+小岛+圆圈 -->
      <div class="layer" style="">
        <img src="@/assets/nav-img/2.png" :height="header_height_g / 1.2" :width="screen_width / 9.5" />
      </div>
      <!-- 两个最大的小人划船 -->
      <div class="layer">
        <img src="@/assets/nav-img/15.png" :height="header_height_g - 50" :width="screen_width / 3.84" />
      </div>
      <!-- 鼠标移入虚拟显示 -->
      <div class="layer">
        <img src="@/assets/nav-img/18.png" :height="header_height_g" :width="screen_width / 5" />
      </div>
      <!-- 鼠标移入虚拟显示 -->
      <div class="layer">
        <img src="@/assets/nav-img/17.png" :height="header_height_g" :width="screen_width / 3.84" />
      </div>
      <!-- 两个最大傍边的三个小人 -->
      <div class="layer">
        <img src="@/assets/nav-img/12.png" :height="header_height_g / 1.8" :width="header_height_g / 0.8" />
      </div>
      <!-- 中间树小岛旁边的-小人划船 -->
      <div class="layer">
        <img src="@/assets/nav-img/9.png" :height="header_height_g / 2.58" :width="screen_width / 12.8" />
      </div>
      <!-- 13中间小岛树上的小行星背景 -->
      <div class="layer">
        <img src="@/assets/nav-img/11.png" :height="header_height_g / 5.1" :width="screen_width / 19.2" />
      </div>
      <!-- 右边的树 -->
      <div class="layer">
        <img src="@/assets/nav-img/14.png" :height="header_height_g" :width="screen_width / 4.8" />
      </div>
      <div class="layer">
        <img src="@/assets/nav-img/17.png" :height="header_height_g" :width="screen_width / 4.8" />
      </div>
      <canvas width="100%" :height="header_height_g" style="position: absolute; top: 0px; left: 0px; "></canvas>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router'
import { ref, onMounted, watch } from 'vue';
import { phone_currentClassify, computer_currentClassify, computerImgList, phoneImgList, currentMode, header_height_g, header_margin_bottom_g, screen_width, isShowMenu, loginDialogVisible, sex_g, openid_g } from '@/hooks/global.hook.js'
import { ElMessage, ElMessageBox } from 'element-plus'
const $router = useRouter()
// 鼠标第一次到banner的位置x_first
const xFirstNum = ref(0);

// 当前鼠标的位置
const xNowNum = ref();

const isPhone = ref(false);

let params = localStorage.getItem('computer') ? JSON.parse(localStorage.getItem('computer')) : null
computer_currentClassify.value = params ? params.dir : computer_currentClassify.value
const typeClick = item => {
  if (currentMode.value === 'phone') {
    phone_currentClassify.value = item.dir
  } else {
    computer_currentClassify.value = item.dir
  }
}

/**
 * move：
 * 0 不移动
 * 1 慢移动
 * 2 快一点点
 * isNot: true 不使用动画
 */
let layers_data = [
  { translateX: 0, translateY: -15, filter_blur: 0, opacity: 1, move: 0, isNot: false },
  { translateX: 0, translateY: header_height_g.value / 2.87, filter_blur: 0, opacity: 1, move: 1, isNot: true }, // 水视频动画
  { translateX: 0, translateY: header_height_g.value / 2.87, filter_blur: 0, opacity: 1, move: 1, isNot: true }, // 星星视频动画
  { translateX: screen_width.value / 2, translateY: 0, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 最右边的小兔子和地块
  { translateX: screen_width.value / 2.3, translateY: header_height_g.value / 2.2, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 最右边特别小的船
  { translateX: -(screen_width.value / 1.8), translateY: 0, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 地块-4
  { translateX: screen_width.value / 4.5, translateY: header_height_g.value / 3.36, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 右边-小山包
  { translateX: screen_width.value / 7.4, translateY: header_height_g.value / 4.1, filter_blur: 0, opacity: 1, move: -1, isNot: false },
  { translateX: header_height_g.value / 2.6, translateY: header_height_g.value / 11, filter_blur: 0, opacity: 1, move: 0, isNot: false }, // 中间树+小岛+圆圈
  { translateX: -(screen_width.value / 3), translateY: header_height_g.value / 4.4, filter_blur: 0, opacity: 1, move: 2, isNot: false }, // 两个最大的小人划船
  { translateX: -(screen_width.value / 1.8), translateY: header_height_g.value / 9.6, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 鼠标移入虚拟显示
  { translateX: -(screen_width.value / 12), translateY: header_height_g.value / 4.8, filter_blur: 0, opacity: 1, move: -1, isNot: false }, // 鼠标移入虚拟显示
  { translateX: -(screen_width.value / 20.8), translateY: header_height_g.value - 120, filter_blur: 0, opacity: 1, move: 1, isNot: false }, // 两个最大傍边的三个小人
  { translateX: screen_width.value / 6.8, translateY: header_height_g.value / 3, filter_blur: 0, opacity: 1, move: 1, isNot: false }, // 中间树小岛旁边的-小人划船
  { translateX: screen_width.value / 24, translateY: -(header_height_g.value / 1.9), filter_blur: 0, opacity: 1, move: 0, isNot: false }, // 13中间小岛树上的小行星背景
  { translateX: screen_width.value / 2.4, translateY: header_height_g.value / 15, filter_blur: 0, opacity: 1, move: 1, isNot: false }, // 从左到右最快移动
  { translateX: screen_width.value / 2.3, translateY: header_height_g.value / 15, filter_blur: 0, opacity: 1, move: 1, isNot: false }, // 从左到右最快移动
  { translateX: 0, translateY: header_height_g.value / 15, filter_blur: 0, opacity: 1, move: 0, isNot: false }, // 从左到右最快移动
]

const loginClick = () => {
  loginDialogVisible.value = true;
}

const loginOut = () => {
  ElMessageBox.confirm(
    '确定要退出登录吗?',
    '温馨提示',
    {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
    }
  ).then(() => {
    localStorage.clear();
    sex_g.value = undefined;
    openid_g.value = undefined;
    ElMessage({
      type: 'success',
      message: '离别是为了更好的重逢~',
    })
  }).catch(() => { });
}

/**
 * 点击菜单图标
 */
const onClickMenuIco = () => {
  isShowMenu.value = !isShowMenu.value;
}

onMounted(() => {
  let banner = document.querySelector('.bili-banner')
  // 获取到所有的图层,也就是包裹在img外的所有div
  let layers = document.querySelectorAll('.layer')
  // 初始化所有的图层
  let init = function () {
    for (const k in layers) {
      if (Object.hasOwnProperty.call(layers, k)) {

        // 获取到当前图层(div),其中k是索引
        const element = layers[k]
        // 获取到当前图层所需要的数据
        let element_data = layers_data[k]
        // isNot = true: 不使用动画
        if (!element_data.isNot) {
          element.children[0].style = `transform: scale(1) 
                                     translate( ${element_data.translateX}px, ${element_data.translateY}px ) 
                                     rotate(0deg);
                                     filter: blur(${element_data.filter_blur});
                                     opcatity: ${element_data.opacity};
                                     `
        }
      }
    }
  }
  let x_now = 0
  let x_offset = 0

  let mousemove = function (clientX) {
    // 鼠标移动的当前位置
    x_now = clientX
    xNowNum.value = clientX;

    // 鼠标移动到该banner的位置,此处为初始位置,在接下来的鼠标移动位置过程中,translate的值的改变都是基于这个点的,
    // 而x_offset = x_first - x_now正好将这个问题包裹进去,x_first就是该初始位置,translate的值也就是根据x_offset来变的
    x_offset = (x_now - xFirstNum.value) / 2

    // 每个图片都要根据x_offset移动响应的距离
    for (const k in layers) {
      if (Object.hasOwnProperty.call(layers, k)) {

        let level = (layers_data.length - parseInt(k)) * 0.4;

        // 获取当前图层
        const element = layers[k]
        const elementData = layers_data[k]

        if (!elementData.isNot) {
          let new_translateX = elementData.translateX + x_offset / level

          if (elementData.move == 0) {
            // 不移动
            new_translateX = elementData.translateX
          }

          if (elementData.move === 1) {
            new_translateX = elementData.translateX + x_offset / level / 5
          }

          let new_opacity = elementData.opacity

          element.children[0].style = `transform: scale(1) 
                                        translate( ${new_translateX}px, ${elementData.translateY}px ) 
                                        rotate(0deg);
                                        filter: blur(${elementData.filter_blur}px);
                                        opacity: ${new_opacity};
                                        `
        }
      }
    }
  }

  // 鼠标移动
  banner.addEventListener("mousemove", function (e) {
    mousemove(e.clientX);
  })
  // 鼠标第一次到banner的位置x_first
  banner.addEventListener("mouseover", function (e) {
    if (e.clientY > 120 && e.clientX < screen_width.value && xFirstNum.value === 0) {
      xFirstNum.value = e.clientX;
    }
  })

  // 鼠标移出,恢复到默认位置
  banner.addEventListener("mouseout", function (e) {
    init()
  })
  init()
});

watch(screen_width, (newValue, oldValue) => {
  if (newValue < 700) {
    isPhone.value = true;
  } else {
    isPhone.value = false;
  }
},);

const iocClick = type => {
  currentMode.value = type
  let route = type === 'phone' ? { name: 'PhoneWallpaper' } : { name: 'ComputerWallpaper' }
  $router.replace(route)

}
</script>

<style  scoped lang="less">
.bili-banner {
  margin: 0 auto;
  position: relative;
  z-index: 9;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  user-select: none;
}

.nav {
  z-index: 1;
  color: white;
  width: 100%;
  padding: 17px 25px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .nav-item:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 20px;
    user-select: none;
    color: aliceblue;

    span {
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .nav-item:nth-child(3) {
    font-size: 15px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      height: 35px;
      width: 30px;
      border-radius: 50%;
    }

    .nav-icon {
      cursor: pointer;
      margin-right: 35px;

    }

    .nav-login {
      cursor: pointer;

      :hover {
        color: var(--theme-color);
      }
    }
  }
}

.nav-item-activ {
  color: var(--theme-color);
}


.animateds-banner {
  position: absolute;
  inset: 0;
  width: 100%;
  overflow: hidden;
}

.animateds-banner>.layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>