<template>
  <div class="not-data-container">
      <div class="main">
        <img src="@/static/nodta.png" alt="">
        <span>暂无数据</span>
      </div>
  </div>
</template>

<script setup>

</script>

<style  scoped>
.not-data-container{
  width: 100%;
  height: 100%;
}
</style>