<template>
  <div id="wrapper" class="grid-container scroll-container"
    :style="{ gridTemplateColumns: `repeat(${columnCount}, 1fr)`, top: `${positionNumber}px`, height: `calc(100vh - ${headerHeightComputed}px)` }"
    v-resize="resize" @scroll="handleScroll">
    <div v-for="(item, index) in imgList" class="item" :key="index">
      <div class="overlay card" @mouseleave="itemMouseleave" @mouseenter="itemmouseenter">
        <div class="btns">
          <div @click="view(item.url)">
            <span>查看</span>
          </div>
          <div @click="downloadImage(item.url)">
            <span>下载</span>
          </div>
        </div>
      </div>
      <div class="watermark" :class="item.url" @click="noView(item.url)">
        <span>@城南有我</span>
      </div>
      <img src="@/static/image/default.jpg" :class="item.url" :data-src="item.url" :data-num="index" id="obimg"
        style="width: 100%;height: 100%;z-index: 1;" @click="imgClick(item)">
    </div>
    <!-- go-top -->
    <div class="go-top" @click="goTop" v-if="showGoTop">
      <img src="@/static/image/go-top.png" alt="">
    </div>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router'
import { ref, computed } from 'vue'
import { getWallpaperList } from '@/api/wallpaper'
import { header_height_g, header_margin_bottom_g, screen_width, loginDialogVisible, openid_g } from '@/hooks/global.hook.js'
import '@/utils/lazyLoad.js';
const $router = useRouter()
const positionNumber = ref(0)
let showGoTop = ref(false)
const emits = defineEmits(['scroll'])
let imgList = ref([])
const columnCount = ref(4); // 初始列数
let pageInfo = ref({
  size: 20,
  dir: 'wallpaper',
  marker: '',
})

// 这是头部导航栏 + 间隙 的高度
const headerHeightComputed = computed(() => {
  return header_height_g.value + header_margin_bottom_g.value
})

// 读取缓存 回显分页信息
if (localStorage.getItem('pageInfo')) {
  pageInfo.value = JSON.parse(localStorage.getItem('pageInfo'))
}

// 获取壁纸列表
async function getBanners(flag) {
  let params = {
    ...pageInfo.value,
    marker: flag ? pageInfo.value.marker : pageInfo.value.fixMarker
  };

  let { data: { list, marker } } = await getWallpaperList(params);

  let p = JSON.parse(localStorage.getItem('pageInfo')) || {};

  if (flag) {
    let old_marker = p.marker || '';
    localStorage.setItem('pageInfo', JSON.stringify({ ...pageInfo.value, marker, fixMarker: old_marker }));
  } else if (!p) {
    localStorage.setItem('pageInfo', JSON.stringify({ ...pageInfo.value, marker, fixMarker: '' }));
  }

  list.forEach(item => {
    imgList.value.push({
      url: item,
      view: false
    });
  });
}
getBanners(false)

// 预览
function view(url) {
  let doms = document.getElementsByClassName(url);
  Array.from(doms).forEach(item => {
    item.style.position = 'fixed';
    item.style.inset = '0';
    if (item.tagName.toLowerCase() === 'img') {
      item.style.zIndex = '99';
    } else if (item.tagName.toLowerCase() === 'div') {
      item.style.zIndex = '100';
      openid_g.value || (item.style.opacity = '1')
    }
  });
}

// 还原预览
function noView(url) {
  let doms = document.getElementsByClassName(url);
  Array.from(doms).forEach(item => {
    item.style.position = 'absolute';
    if (item.tagName.toLowerCase() === 'img') {
      item.style.zIndex = '1';
    } else if (item.tagName.toLowerCase() === 'div') {
      item.style.zIndex = '2';
      item.style.opacity = '0';
    }
  });
}

// 回到顶部
function goTop() {
  document.querySelector('.scroll-container').scrollTop = 0;
}

// 监听窗口变化
function resize(size) {
  if (size.width < 576) {
    columnCount.value = 1;
    header_height_g.value = 70;
    header_margin_bottom_g.value = 5;
    screen_width.value = 576;
  } else if (size.width < 768) {
    columnCount.value = 2;
    header_height_g.value = 100;
    header_margin_bottom_g.value = 7;
    screen_width.value = 768;
  } else if (size.width < 1200) {
    columnCount.value = 3;
    header_height_g.value = 135;
    header_margin_bottom_g.value = 8;
    screen_width.value = 1200;
  } else {
    header_height_g.value = 150;
    header_margin_bottom_g.value = 10;
    columnCount.value = 4;
    screen_width.value = size.width;
  }
}

// 监听滚动
function handleScroll(e) {
  e.target.scrollTop > 100 ? showGoTop.value = true : showGoTop.value = false
  if (e.target.scrollHeight - e.target.scrollTop - e.target.clientHeight === 0) {
    localStorage.getItem('pageInfo') && (pageInfo.value = JSON.parse(localStorage.getItem('pageInfo')))
    getBanners(true)
  }
}

// 图片下载事件
function downloadImage(url) {
  if (openid_g.value) {
    let isWechat = /MicroMessenger/i.test(navigator.userAgent);
    // 微信浏览器
    if (isWechat) {
      let isTip = localStorage.getItem('isTip')
      if (isTip) {
        $router.push({
          name: 'WxDownload',
          query: {
            url
          }
        })
      } else {
        ElMessageBox.confirm(
          '进入后长按图片保存下载哦~',
          '温馨提示',
          {
            confirmButtonText: '确定',
            cancelButtonText: '知道了，不再提示',
            type: 'warning',
          }
        ).then(() => {
          $router.push({
            name: 'WxDownload',
            query: {
              url
            }
          })
        }).catch(() => {
          localStorage.setItem('isTip', true)
        });
      }

      return
    }
    // 其他浏览器
    fetch(url)
      .then(response => response.blob())
      .then(blob => {
        const link = document.createElement('a');
        link.href = URL.createObjectURL(blob);
        link.download = 'image.jpg';
        link.style.display = 'none';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        URL.revokeObjectURL(link.href);
      });
  } else {
    loginDialogVisible.value = true;
  }
}

function itemMouseleave(e) {
  e.target.classList.remove('show')
}
function itemmouseenter(e) {
  e.target.classList.add('show')
}

</script>

<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 7px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
}

.grid-container::-webkit-scrollbar {
  /* display: none; */
  display: block
}

.item {
  position: relative;
  height: 250px;
  background-color: #ccc;
  user-select: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay.show {
  opacity: 1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.card .btns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #ffffff;
}

.card .btns div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

.card .btns div:hover {
  color: var(--theme-color);
}

.item .watermark {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
}

.item .watermark span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  letter-spacing: 5px;
  transform: rotate(-45deg);
  user-select: none;
}

.item #obimg {
  position: absolute;
}

.view {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

@keyframes jump-up {
  0% {
    transform: translate(-50%, 5px);
  }

  50% {
    transform: translate(-50%, -5px);
  }

  100% {
    transform: translate(-50%, 5px);
  }
}

.go-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  animation: jump-up 1.5s infinite;
}

.go-top img {
  width: 35px;
  height: 40px;
}

.loading {
  z-index: 9999;
}

.not-show {
  display: none;
}
</style>