<template>
  <el-dialog v-model="loginDialogVisible"
             :destroyOnClose="true"
             :width="width + 35 + 'px'"
             class="login-dialog"
             title="登录"
             @close="close"
             @open="open">
    <div class="dia-log">
      <el-image :style="{height: width + 'px', width: width + 'px'}"
                :src="loginUrl">
        <template #error>
          <div class="image-slot">
            <el-icon><icon-picture /></el-icon>
          </div>
        </template>
        <template #placeholder>
          <div class="image-slot"><span class="dot">加载中...</span></div>
        </template>
      </el-image>
      <span>微信扫一扫{{ screen_width < 700 ? '（长按识别）' : '' }},关注"城南有我"公众号,免费下载全站高清壁纸</span>
    </div>
  </el-dialog>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue';
import { loginDialogVisible, sex_g, openid_g, screen_width } from '@/hooks/global.hook.js';
import { Picture as IconPicture } from '@element-plus/icons-vue'
import { getLoginQrCode, checkLogin } from '@/api/wallpaper.js';

const width = ref(200)
let loginUrl = ref();
let sceneIds = ref();
let mySetInterval = ref();

/**
 * 获取登录二维码
 */
async function getLoginQrCodeUrl() {
  const { data: { url, sceneId, sceneStr }} = await getLoginQrCode();
  console.log('sceneId---:', sceneId);
  loginUrl.value = url;
  sceneIds.value = sceneId;
   mySetInterval.value = setInterval(() => {
    getCheckLogin(sceneIds.value);
  }, 2000);
}

/**
 * 扫码关注公众号登录 检测登录状态
 * @param {*} sceneid
 * @param {*} openid
 */
async function getCheckLogin(sceneid = null, openid = null) {
  const res  = await checkLogin({
    sceneid,
    openid
  });
  if (res && res.data && res.data.openid) {
    clearInterval(mySetInterval.value);
    localStorage.setItem('openid', res.data.openid)
    localStorage.setItem('sex', res.data.sex)
    loginDialogVisible.value = false;
    openid_g.value = res.data.openid;
    sex_g.value = res.data.sex;
    ElMessage({
      type: 'success',
      message: '登录成功~',
    })
  }
}

const open = () => {
  getLoginQrCodeUrl();
}

const close = () => {
  console.log('关闭');
  clearInterval(mySetInterval.value);
}

onBeforeUnmount(() => {
  clearInterval(mySetInterval.value);
});
</script>

<style scoped>
.dia-log {
    text-align: center;
}
span {
  padding: 0 10px;
}
/* img默认占位图 */
.image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--el-fill-color-light);
  color: var(--el-text-color-secondary);
  font-size: 50px;
}
.image-slot .dot {
  font-size: 20px;
}
</style>
<style>
.el-dialog__body {
  padding-top: 0 !important;
}
</style>