<template>
  <div id="app" ref="vantaRef">
    <router-view v-slot="{ Component }">
      <KeepAlive include="Home"> 
        <Component :is="Component"></Component>
      </KeepAlive>
    </router-view>
  </div>
</template>

<script setup>
import { ref, onMounted, onBeforeUnmount } from 'vue';
import { threeChange, vantaEffect } from '@/hooks/appBackground.hook.js';
import { sex_g, openid_g } from '@/hooks/global.hook.js';
import { checkLogin } from '@/api/wallpaper.js';
// 动态壁纸容器
const vantaRef = ref(null);


/**
 * 扫码关注公众号登录 检测登录状态
 */
async function getCheckLogin() {
  const { data } = await checkLogin({
    openid: localStorage.getItem('openid'),
  });
  if (data && data.openid) {
    localStorage.setItem('openid', data.openid)
    localStorage.setItem('sex', data.sex)
    openid_g.value = data.openid;
    sex_g.value = data.sex;
  } else {
    localStorage.removeItem('openid');
    localStorage.removeItem('sex');
  }
}

onMounted(() => {
  threeChange(vantaRef)
  localStorage.getItem('openid') && getCheckLogin();
});

onBeforeUnmount(() => {
  if (vantaEffect.value) {
    try {
      vantaEffect.value.destroy();
    } catch (err) {
      console.log("动画背景销毁异常")
    }
  }
});
</script>

<style>
* {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
}
</style>