:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --theme-color: #00AEEC;
  --theme-color-pramary: #057fac;
}
.cursor-p {
  cursor: pointer;
}
